.header {
    background-color: rgb(40, 40, 40);
    height: 10vh;
    display: flex;
    align-items: center;
    font-size: 3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    text-transform: uppercase;
    word-spacing: 0.5rem;
}

.header .header-icon {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: #1DB954;
    color: black;
    font-size: 2.4rem;
    padding-left: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 300ms ease;
    margin-right: 1rem;
}

.header .header-icon:hover {
    color: rgb(231, 231, 231);
}

.header a {
    color: #1DB954;
    text-decoration: none;
}

.header a:hover {
    color: #1DB954;
    text-decoration: none;
}

#search_input {
    position: absolute;
    width: 20rem;
    right: 1rem;
    outline: none;
    padding: 0.5rem 0.1rem 0.5rem 1.5rem;
    font-size: 1.7rem;
    border-radius: 0.4rem;
    border: none;
}

#search_input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url("https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg") no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
}

#search_input::-webkit-search-cancel-button:hover {
    cursor: pointer;
}

#search_input:focus::-webkit-search-cancel-button {
    opacity: .3;
}