.main_div {
    width: 100vw;
}

.music_container {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(40, 40, 40);
    height: 7.5rem;
}

.img_container {
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 0.5rem;
}

.music_name {
    margin: 2rem 1rem 0 1rem;
}

.music_name #title {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    color: white;
    font-size: 1.7rem;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.music_name #artist {
    color: #cccaca;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
    margin-bottom: 4rem;
    font-weight: 300;
    max-width: 22rem;
}

@media all and (max-width: 1230px) {
    .music_name #artist {
        max-width: 17rem;
    }
}

@media all and (max-width: 1140px) {
    .music_name #title {
        max-width: 15rem;
    }

    .music_name #artist {
        max-width: 13rem;
    }
}

@media all and (max-width: 1040px) {
    .music_name #title {
        max-width: 13rem;
    }
}

@media all and (max-width: 970px) {
    .music_name #title {
        max-width: 11rem;
    }

    .music_name #artist {
        max-width: 9rem;
    }
}

@media all and (max-width: 880px) {
    .music_name #title {
        max-width: 9rem;
    }

    .music_name #artist {
        max-width: 7rem;
    }
}

@media all and (max-width: 765px) {
    .music_name {
        display: none;
    }
}