.music_list{background-color:transparent;color:#fff;overflow-y:auto;flex-grow:1;margin-bottom:0!important}
.music_list .music_list_item{display:flex;align-items:center;padding:1rem 2rem;border-bottom:.01rem solid #fff;cursor:pointer}
.music_list .music_list_item:hover:not(.active_music){color:#1db954;background-color:rgba(0,0,0,.4)}
.music_list .music_list_item #song_index{font-size:1.7rem!important}
.music_list .music_list_item .img_container_list img{width:5rem;height:5rem;border-radius:50%;object-fit:cover}
.music_list .music_list_item #title_list{text-transform:uppercase;letter-spacing:.1rem;word-spacing:.2rem;font-size:1.7rem!important;font-weight:500}
.music_list .music_list_item #artist_list{text-transform:capitalize;letter-spacing:.1rem;font-size:1.7rem!important}
.active_music{color:#000;background-color:#1db954}
.no_result{display:none;place-items:center;flex-grow:1;background-color:#000}
.no_result .text-info{display:flex;justify-content:center;align-items:center}
.no_result .text-info .fas{font-size:9rem}
.no_result .text-info div{font-size:2.2rem;margin-left:1rem}
.music_list::-webkit-scrollbar{width:1rem}
.music_list::-webkit-scrollbar-track{background:0 0}
.music_list::-webkit-scrollbar-thumb{background-color:#1db954;border-radius:1rem}