.all_controls{width:50rem}
.music_controls{width:25rem;margin:0 auto}
.fa,.far,.fas:not(.header-icon):not(.fa-info-circle){color:#fff;font-size:1.6rem;cursor:pointer;filter:drop-shadow(0 1.2rem 3rem .5rem rgba(0, 0, 0, .4));transition:all .2s ease}
.fa:hover,.far:hover:not(.active_icon),.fas:hover:not(.header-icon):not(.fa-info-circle){color:#cccaca}
.music_controls .main_button{width:4rem;height:4rem;border-radius:50%;border:2px solid #fff;color:#f6f6f6;font-size:1.4rem;transition:all .4s ease}
.music_controls .main_button:hover{background-color:#f6f6f6;color:#111!important;box-shadow:0 1rem 2rem .2rem rgba(0,0,0,.4)}
.active_icon{color:#1db954}
.progress_duration_meter{font-size:1.2rem;color:#fff;margin-top:.5rem}
.progress_div{margin:.7rem;width:90%;height:.5rem;background-color:#cccaca;border-radius:5rem;position:relative;transition:width .1s linear;-moz-transition:width .1s linear;-o-transition:width .1s linear;-webkit-transition:width .1s linear;cursor:pointer;-webkit-animation:none;appearance:none}
.progress_bar{position:absolute;top:0;left:0;width:0;height:.5rem;background-color:#1db954;border-radius:5rem;transition:width .1s linear;-moz-transition:width .1s linear;-o-transition:width .1s linear;-webkit-transition:width .1s linear;cursor:pointer;-webkit-animation:none;appearance:none}
.volume_control{width:16rem}
.volume_control .fas{width:2rem;margin-right:1rem}
.volume_slider{background-color:#282828}
.volume_slider:hover{cursor:pointer}
.volume_slider:hover{cursor:pointer}
.volume_slider{-webkit-appearance:none;appearance:none;width:100%;height:.5rem;outline:0;border-radius:1rem}
.volume_slider::-moz-range-track{-webkit-appearance:none;appearance:none;width:100%;height:.5rem;outline:0;border-radius:.5rem}
.volume_slider::-webkit-slider-thumb{-webkit-appearance:none;appearance:none;height:1.3rem;width:1.3rem;background:#1db954;border-radius:50%}
.volume_slider::-moz-range-thumb{-webkit-appearance:none;appearance:none;height:1.3rem;width:1.3rem;background:#1db954;border-radius:50%}